body {
    text-align: center;
    font-family: 'Nova Flat';
    font-size: 22px;
}


.game-board {
    margin: auto;
    overflow: scroll;
}

table {
    table-layout: fixed;
    /* border: solid 1px black;    */
    text-align: center;
}

td {
    border: solid black 2px;
    width: 35px;
    height: 35px;


}

.flagged {
    background-color: rgb(243, 97, 109);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(243, 97, 109);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: small;
  }

  button{
    font-family: 'Nova Flat';
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    width: 100px;
  }

  button:hover{
    cursor: pointer;
    background-color: rgb(243, 97, 109);
  }